* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

  body {
      margin: 0;
      background: #222423; /* Gradient from left to right */
      font-family: Montserrat;
  }

  .container {
      display: flex;
      height: 100vh;
  }

  .sidebar {
      width: 320px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 20px;
      padding-left: 40px;
      padding-top: 100px;
      /* white border on the rhs of the sidebar */
      /* margin-right: 2px; */
      position: relative;
      overflow: hidden;
  }

  .sidebar::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('http://is5.mzstatic.com/image/thumb/Music118/v4/8e/97/40/8e97404a-1904-ef83-dfaf-3b2d90938de6/source/600x600bb.jpg') no-repeat center center;
      background-size: cover;
      filter: blur(50px);
      z-index: -1; /* Make sure the pseudo-element is behind the content */
      opacity: 1; /* Adjust the opacity to darken the image */
  }

  .sidebar::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.85); /* Adjust the opacity to make it darker */
      z-index: -1; /* Ensure the overlay is behind the content but in front of the background image */
  }

  .sidebar-title {
      font-size: 3em;
      margin-bottom: 25px;
      text-align: left;
      width: 100%;
  }

  .sidebar-menu {
      list-style: none;
      padding: 0;
      width: 100%;
  }

  .sidebar-menu li {
      width: 100%;
      margin: 10px 0;
  }

  .sidebar-menu li a {
      display: flex;
      align-items: center;
      padding: 10px;
      color: white;
      text-decoration: none;
      font-size: 1.2em;
  }

  .sidebar-menu li a i {
      margin-right: 20px;
  }

  .sidebar-menu li a:hover {
      background-color: #444;
      border-radius: 5px;
  }

  .main-content {
      flex: 1;
      padding: 30px;
      align-items: flex-start;
      background-color: #222423;
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
  }

  .container::-webkit-scrollbar {
      width: 0;
      height: 0;
  }

  .main-content h1 {
      margin-top: 10px;
      margin-bottom: 25px;
      font-size: 40px;
      font-family: League Spartan;
      text-align: left;
      color: #fff;
  }


  .categories{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      width: 100%;
      height: calc(100vh - 136px);
      padding: 10px;
      border-radius: 4px;
      background-color: #171A18;
      align-items: center;
   }


  .categories a{
      margin: 3px;
      font-size: 15px;
      display: inline-block;
      vertical-align: middle; /* Center the inline-block element */
      line-height: normal;
  }

  .categories .show-all-container {
      display: flex;
      justify-content: flex-end; /* Align to the left */
      margin-top: 1px;
      margin-right: 2px;
      font-size: 11px;
      color: #d2d5d9;
  }

  .box {
      position: relative;
      height: 100%;
      background-size: cover;
      background-position: center;
      border-radius: 4px;
      overflow: hidden;
      display: flex;
      align-items: center;
  }

  .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: left;
  }

  .overlay h2 {
      color: white;
      font-size: 18px;
      font-weight: normal;
      margin-left: 20px;
  }


  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a {
    color: #ffffff;
    padding: 10px 28px;
    margin: 0 4px;
    text-decoration: none;
    background-color: #222423;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #333333;
}

.pagination a:active {
    background-color: #555555;
}
