* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
}

body,
html {
  height: 100%;
  color: white;
  background-color: #222423;
  font-family: 'League Spartan', Arial, sans-serif;
}

.body {
    height: 100vh;
}

nav {
    width: 20%;
    height: 100%;
    position: fixed;
    float: left;
    padding: 30px 0px;
    background-color: #171a18;

}

.sidebar-title {
    font-size: 2.5em;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
    padding-top: 20%;
}

.divider {
    margin: 0% 10% 5% 10%;
    border-bottom: 2.5px solid white;
}

.pages {
    text-align: center;
    padding: 0;
    margin-top: 15%;
}

.pages li {
    width: 100%;
    margin: 10px 0;
}

.pages li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    font-size: 1.2em;
}

#nav-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: small;
    margin-bottom: 30px;
}

.right-side {
    width: 80%;
    position: absolute;
    right: 0;
}

.top-section {
    text-align: center;
}

.top-section h1 {
    color: white;
    font-size: 2.5em;
    padding-top: 3%;
    padding-left: 30px;
    text-align: left;
}

.header {
    display: flex;
    justify-content: left;
    text-align: center;
    margin-top: 15px;
    padding-left: 10px;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.8em;
}

.header div {
    margin: 0 20px;
    padding: 8px 16px;
}

.header div:hover {
    background-color: #353744;
    border-radius: 100px;
}

.show-all {
    position: absolute;
    right: 0;
    padding-right: 20px;
}

.podcast-cards {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    justify-content: center;
}

.podcast-card {
    background-color: #2f2f2f;
    width: 20%;
    height: 190px;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
}

.podcast-card img {
    width: 140px;
    height: 160x;
    object-fit: cover;
    border-radius: 20px;
}

.podcast-card a {
    width: 100%;
}

.bottom-section {
    display: flex;
    gap: 0px;
}

.continue-listening-container {
    width: 60%;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.continue-listening-container h2 {
    width: 100%;
    padding: 10px 30px;
    text-align: left;
}

.continue-listening-block {
    width: 90%;
    height: 70%;
    background-color: #2f2f2f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.continue-listening-block div {
    flex: 1;
    padding: 20px;
}

.top-authors-outer {
    width: 40%;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-authors-outer h2 {
    width: 100%;
    padding: 10px 30px;
    text-align: left;
}

.top-authors {
    width: 90%;
    height: 70%;
    background-color: #2f2f2f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.author {
    margin: 5px 0;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


