* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
}

body,
html {
  height: 100%;
  color: white;
  background-color: #2d303d;
  font-family: 'League Spartan', Arial, sans-serif;
}

.body {
    height: 100vh;
}

nav {
    width: 25%;
    height: 100%;
    position: fixed;
    float: left;
    padding: 30px 0px;
    background-color: #353744;

}

.sidebar-title {
    font-size: 2.5em;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
    padding-top: 20%;
}

.divider {
    margin: 0% 10% 5% 10%;
    border-bottom: 2.5px solid white;

}

.pages {
    /* display: inline;
    list-style: none;
    position: relative; */
    text-align: center;
    padding: 0;
    margin-top: 15%;
}

.pages li {
    width: 100%;
    margin: 10px 0;
}

.pages li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    font-size: 1.2em;
}

#nav-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: small;
    margin-bottom: 30px;
}

.top-section {
    width: 75%;
    text-align: center;
    position: absolute;
    right: 0;
}


.top-section h1 {
    color: white;
    font-size: 2em;
    padding-top: 2%;
}

.header {
    text-align: center;
    margin-top: 10px;
}

.podcast-cards {
    display: flex;
    gap: 40px;
    margin: 20px 0;
    justify-content: center;
}

.podcast-card {
    background-color: #2f2f2f;
    width: 25%;
    height: 200px;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
}