* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'League Spartan', Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 320px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    padding-left: 40px;
    padding-top: 100px;
    /* white border on the rhs of the sidebar */
    /* margin-right: 2px; */
    position: relative;
    overflow: hidden;
}

.sidebar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('http://is5.mzstatic.com/image/thumb/Music118/v4/8e/97/40/8e97404a-1904-ef83-dfaf-3b2d90938de6/source/600x600bb.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(50px);
    z-index: -1; /* Make sure the pseudo-element is behind the content */
    opacity: 1; /* Adjust the opacity to darken the image */
}

.sidebar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85); /* Adjust the opacity to make it darker */
    z-index: -1; /* Ensure the overlay is behind the content but in front of the background image */
}

.sidebar-title {
    font-size: 3em;
    margin-bottom: 25px;
    text-align: left;
    width: 100%;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar-menu li {
    width: 100%;
    margin: 10px 0;
}

.sidebar-menu li a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.sidebar-menu li a i {
    margin-right: 20px;
}

.sidebar-menu li a:hover {
    background-color: #444;
    border-radius: 5px;
}

.main-content {
    flex: 1;
    padding: 0px;
    /* display: flex; */
    align-items: flex-start;
    background-color: #222423;
    overflow-y: auto;
}

.hero {
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #18281e, #252a36);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    margin-top: 15px;
    padding: 0px;
    /* border-bottom: 1px solid #fff; */
}

.hero-content {
    display: flex;
    align-items: center;
    text-align: left;
}

.hero-image {
    width: 300px;
    margin-right: 20px;
}

.hero-image {
    width: 225px;
    margin-right: 30px;
    /* border-radius: 3px; */
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.25); */
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    font-size: 4em;
    margin-bottom: 10px;
}

.hero-subtitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-category {
    font-size: 1em;
    margin-bottom: 5px;
    color: #a0a0a0;
}

.about {
    color: white;
    padding: 40px;
    padding-bottom: 0;
}

.about-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.about-title {
    font-size: 2em;
}

.about-description, .about-details {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.about-tags {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tag {
    background-color: #353744;
    padding: 7px 10px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
}

.tag i {
    margin-right: 5px;
}

.add-playlist-btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.7s, color 0.7s;
}

.add-playlist-btn:hover {
    background-color: white;
    color: #282c34;
}

.about-separator  {
    border: none;
    height: 1px;
    background-color: #404248;
    margin: 35px 0;
    margin-bottom: 5px;
}

.episodes {
    color: white;
    padding: 40px;
}

.episodes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.episodes-title {
    font-size: 1.7em;
}

.episodes-sort-btn {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.episodes-sort-btn i {
    margin-left: 10px;
}

.episode {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}

.episode-image {
    width: 120px;
    margin-right: 20px;
    border-radius: 10px;
}

.episode-content {
    display: flex;
    flex-direction: column;
}

.episode-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.episode-description{
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}