* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'League Spartan', Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 350px;
    background-color: #353744;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    padding-left: 40px;
    padding-top: 100px;
}

.sidebar-title {
    font-size: 3em;
    margin-bottom: 25px;
    text-align: left;
    width: 100%;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar-menu li {
    width: 100%;
    margin: 10px 0;
}

.sidebar-menu li a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.sidebar-menu li a i {
    margin-right: 20px;
}

.sidebar-menu li a:hover {
    background-color: #444;
    border-radius: 5px;
}

.main-content {
    flex: 1;
    padding: 0px;
    /* display: flex; */
    align-items: flex-start;
    background-color: #272930;
    overflow-y: auto;
}

.hero {
    width: 100%;
    height: auto;
    /* background-color: #22242c; */
    background: linear-gradient(to right, #18281e, #252a36);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    margin-top: 15px;
    padding: 0px;
}

.hero-content {
    display: flex;
    align-items: center;
    text-align: left;
}

.hero-image {
    width: 300px;
    margin-right: 20px;
}

.hero-image {
    width: 225px;
    margin-right: 30px;
    /* border-radius: 3px; */
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.25); */
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    font-size: 4em;
    margin-bottom: 10px;
}

.hero-subtitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-category {
    font-size: 1em;
    margin-bottom: 5px;
    color: #a0a0a0;
}

.about {
    color: white;
    padding: 40px;
}

.about-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.about-title {
    font-size: 2em;
}

.about-description, .about-details {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.about-tags {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tag {
    background-color: #444;
    padding: 7px 10px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
}

.tag i {
    margin-right: 5px;
}

.add-playlist-btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.add-playlist-btn:hover {
    background-color: white;
    color: #282c34;
}