{% extends 'layout.html' %} {% block component_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/playlist.css') }}"
/>
{% endblock %} {% block content %}
<main class="main-content">
  <section>
    <h1>Your Playlists...</h1>
    <div class="header">
      <div class="header-items">
        <a href="{{ url_for('playlist_bp.playlist', facet_name='podcasts') }}">
          <div
            class="header-item {% if facet_name == 'podcasts' %}active{% endif %}"
          >
            Podcasts
          </div>
        </a>
        <a href="{{ url_for('playlist_bp.playlist', facet_name='episodes') }}">
          <div
            class="header-item {% if facet_name == 'episodes' %}active{% endif %}"
          >
            Episodes
          </div>
        </a>
      </div>
    </div>

    {% if facet_name == 'podcasts' %}
    <div class="cards-section">
      <div class="whole-container">
        {% if not paginated_items %}
        <p class="playlist-none">No podcasts in your playlist yet. Discover and add your favorites!</p>
        {% else %}
        <div class="podcast-cards">
          {% for podcast in paginated_items %}
          <div
            class="podcast-card"
            onclick="window.location.href='{{ url_for('podcast_blueprint.description', id=podcast.id) }}'"
          >
            <a href="{{ url_for('playlist_bp.remove_from_playlist', item_type='podcasts', item_id=podcast.id, podcast_id=podcast.id, page=current_page) }}">
              <button class="remove-button" onclick="removePodcast('{{ podcast.id }}')">
                &times;
              </button>
            </a>
            <!-- Background with blur -->
            <div
              class="card-bg"
              style="background: url('{{ podcast.image_url }}') no-repeat center center; background-size: cover;"
            ></div>
            <!-- Dark overlay -->
            <div class="card-darken"></div>
            <!-- Content -->

            <img
              src="{{ podcast.image_url }}"
              alt="{{ podcast.podcast_title }}"
            />
            <div class="info">
              <span class="podcast-card-name">{{ podcast.title }}</span>
              <br />
              <span class="podcast-card-owner">{{ podcast.author }}</span>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    {% elif facet_name == 'episodes' %}
      {% if not paginated_items %}
      <p class="playlist-none">Looks like your playlist has no episodes. Begin adding some to enjoy!</p>
      {% else %}
      <section class="episodes">
        <div class="episodes-header">
          <h2 class="episodes-title">Your Saved Episodes</h2>
          <button class="episodes-sort-btn">
            Newest to Oldest<i class="fa-solid fa-caret-down"></i>
          </button>
        </div>
        {% for episode in paginated_items %}
        <div class="episode">
          <img
            src="{{ episode.podcast_image }}"
            alt="Episode Image"
            class="episode-image"
          />
          <div class="episode-content">
            <div class="episode-header">
              <h3 class="episode-title">
                {{ episode.episode_number }}. {{ episode.episode_title }}
              </h3>
              <a href="{{ url_for('playlist_bp.remove_from_playlist', item_type='episodes', item_id=episode.episode_id, podcast_id='na', page=current_page) }}">
                <button class="add-playlist-btn">Remove Episode from Playlist</button>
              </a>
            </div>
            <p class="episode-description">
              {{ episode.episode_description }}
              <br /><br />
              {{ episode.episode_date }} • {{ episode.episode_length }}
            </p>
          </div>
        </div>
        {% endfor %}
        <br />
      </section>
      {% endif %}
    {% endif %}
    <!-- Pagination -->
    <div class="pagination">
      {% if current_page > 1 %}
      <a
        href="{{ url_for('playlist_bp.playlist', facet_name=facet_name, page=1) }}"
        >First</a
      >
      <a
        href="{{ url_for('playlist_bp.playlist', facet_name=facet_name, page=current_page-1) }}"
        >&laquo; Prev</a
      >
      {% endif %}

      <!-- Page Numbers -->
      {% for page_num in range(start_page, end_page + 1) %}
      <a
        href="{{ url_for('playlist_bp.playlist', facet_name=facet_name, page=page_num) }}"
        class="{% if page_num == current_page %}active{% endif %}"
      >
        {{ page_num }}
      </a>
      {% endfor %} {% if current_page < total_pages %}
      <a
        href="{{ url_for('playlist_bp.playlist', facet_name=facet_name, page=current_page+1) }}"
        >Next &raquo;</a
      >
      <a
        href="{{ url_for('playlist_bp.playlist', facet_name=facet_name, page=total_pages) }}"
        >Last</a
      >
      {% endif %}
    </div>
  </section>
</main>
{% endblock %}
