{% extends 'layout.html' %} {% block component_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/playlist.css') }}"
/>
{% endblock %} {% block content %}
<main class="main-content">
  <section>
    <h1>Your Playlists...</h1>
    <div class="header">
      <div class="header-items">
        <a href="{{ url_for('playlist_bp.playlist', facet_name='podcasts') }}">
          <div
            class="header-item {% if facet_name == 'podcasts' %}active{% endif %}"
          >
            Podcasts
          </div>
        </a>
        <a href="{{ url_for('playlist_bp.playlist', facet_name='episodes') }}">
          <div
            class="header-item {% if facet_name == 'episodes' %}active{% endif %}"
          >
            Episodes
          </div>
        </a>
      </div>
    </div>
    <div class="cards-section">
      <div class="whole-container">
        <div class="podcast-cards">
          {% for podcast in podcasts %}
          <div
            class="podcast-card"
            onclick="window.location.href='{{ url_for('podcast_blueprint.description', id=podcast.id) }}'"
          >
            <!-- Background with blur -->
            <div
              class="card-bg"
              style="background: url('{{ podcast.image_url }}') no-repeat center center; background-size: cover;"
            ></div>
            <!-- Dark overlay -->
            <div class="card-darken"></div>
            <!-- Content -->

            <img
              src="{{ podcast.image_url }}"
              alt="{{ podcast.podcast_title }}"
            />
            <div class="info">
              <span class="podcast-card-name">{{ podcast.title }}</span>
              <br />
              <span class="podcast-card-owner">{{ podcast.author }}</span>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
