{% extends 'layout.html' %}

{% block component_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/discover.css') }}">
{% endblock %}

{% block content %}
        <main class="main-content">
            <section>
                <h1>Discover Podcasts...</h1>
                <div class="cards-section">
                    <div class="popular-categories">
                        <h2 class="popular-categories-heading">Browse Popular Categories</h2>
                        <div class="categories">
<!--                            <div class="show-all-container">-->
<!--                                <a href="#">Show all</a>-->
<!--                            </div>-->

                            <div class="box" style="background:
                                                                linear-gradient(to right, rgba(0, 0, 0, .95), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
                                                                url('https://cdn.pixabay.com/photo/2016/12/15/20/21/texture-1909992_640.jpg') no-repeat center center;
                                                            ">
                                <div class="overlay">
                                    <h2>Performing Arts</h2>
                                </div>
                            </div>
                            <div class="box" style="background:
                                                                linear-gradient(to right, rgba(0, 0, 0, .95), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
                                                                url('https://cdn.britannica.com/28/190928-131-CE088DB5/DNA-helix-concept-evolution-medicine-science.jpg') no-repeat center center;
                                                            ">
                                <div class="overlay">
                                    <h2>Science and Medicine</h2>
                                </div>
                            </div>
                            <div class="box" style="background:
                                                                linear-gradient(to right, rgba(0, 0, 0, .95), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
                                                                url('https://img-cdn.inc.com/image/upload/w_1024,h_576,c_fill/images/panoramic/GettyImages-900301626_437925_t2i3bm.jpg') no-repeat center center;
                                                            ">
                                <div class="overlay">
                                    <h2>Culture and Literature</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="editor-picks">
                        <h2 class="editor-picks-heading">Editor Picks</h2>
                        <div class="editor-cards">
                            <div class="editor-card">
                                <img src="http://is3.mzstatic.com/image/thumb/Music128/v4/81/66/72/8166728e-aa3f-c4c3-f102-f162145c0690/source/600x600bb.jpg" alt="Category 1">
                                <div class="info">
                                    <span class="editor-card-name">Mike Safo</span>
                                    <br>
                                    <span class="editor-card-owner">By Msafoschnik</span>
                                </div>
                            </div>
                            <div class="editor-card">
                                <img src="http://is3.mzstatic.com/image/thumb/Music118/v4/1b/23/29/1b2329ed-fa8a-fcbb-5699-b3465c8c8cc3/source/600x600bb.jpg" alt="Category 1">
                                <div class="info">
                                    <span class="editor-card-name">Rotations</span>
                                    <br>
                                    <span class="editor-card-owner">By Media in Medicine</span>
                                </div>
                            </div>
                            <div class="editor-card">
                                <img src="http://is5.mzstatic.com/image/thumb/Music128/v4/d7/ec/4c/d7ec4c39-6429-e6b3-cfff-685d0eadcce8/source/600x600bb.jpg" alt="Category 1">
                               <div class="info">
                                    <span class="editor-card-name">Voices in AI</span>
                                   <br>
                                    <span class="editor-card-owner">By Byron Reese</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="podcast-list">
                    <div class="filter">
                        <p><i class="fa-solid fa-magnifying-glass search-icon"></i></p>
                        <input type="text" placeholder="Search Podcasts" class="search-input">
                        <button><i class="fa-solid fa-caret-down dropdown" style="margin-right: 8px;"></i>Newest to Oldest</button>
                    </div>
                    <div class="podcasts">
                        <div class="podcast">
                            <div class="podcast-id">01</div>
                            <div class="podcast-info">

                                <div class="podcast-name-owner">
                                    <span class="name">D-Hour Radio Network.</span>
                                    <br>
                                    <span class="owner">By D Hour Radio Network</span>
                                </div>
                            </div>
                            <div class="podcast-category">Society & Culture | Personal Journals</div>
                            <div class="podcast-language">English</div>
                            <div class="podcast-duration">58:32:25</div>
                        </div>
                        <div class="podcast">
                            <div class="podcast-id">02</div>
                            <div class="podcast-info">

                                <div class="podcast-name-owner">
                                    <span class="name">Brian Denny Radio.</span>
                                    <br>
                                    <span class="owner">By Brian Denny</span>
                                </div>
                            </div>
                            <div class="podcast-category">Professional | News & Politics | Sports & Recreation | Comedy</div>
                            <div class="podcast-language">English</div>
                            <div class="podcast-duration">58:32:25</div>
                        </div>
                        <div class="podcast">
                            <div class="podcast-id">03</div>
                            <div class="podcast-info">

                                <div class="podcast-name-owner">
                                    <span class="name">Onde Road - Radio Popolare.</span>
                                    <br>
                                    <span class="owner">By Radio Popolare</span>
                                </div>
                            </div>
                            <div class="podcast-category">Society & Culture</div>
                            <div class="podcast-language">English</div>
                            <div class="podcast-duration">58:32:25</div>
                        </div>
                        <div class="podcast">
                            <div class="podcast-id">04</div>
                            <div class="podcast-info">
                                <div class="podcast-name-owner">
                                    <span class="name">Tallin Messages.</span>
                                    <br>
                                    <span class="owner">By Tallin Country Church</span>
                                </div>
                            </div>

                            <div class="podcast-category">Religion & Spirituality</div>
                            <div class="podcast-language">English</div>
                            <div class="podcast-duration">58:32:25</div>
                        </div>
                    </div>
                    <div class="show-all-container">
                        <a href="#">Show all Podcasts</a>
                    </div>
                </div>

            </section>
        </main>
{% endblock %}