<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="hero" style="background: url('../../static/assets/loginbg.png') no-repeat center center/cover;">
            <div class="overlay">
                <a href="#modal">
                    <img src="../../static/assets/logo-inverted.png" alt="Logo" class="center-logo">
                </a>
            </div>
        </div>

        <!-- Open modal if there is a password error -->
        <div class="modal {{ 'active' if password_error or login_modal else '' }}" id="modal" tabindex="-1">
          <a href="#" class="modal__overlay" aria-label="Close modal"></a>
          <div class="modal__content">
            <div>
                <div class="login-box">
                  <h2>{{login_type}}</h2>
                  <form method="POST" action="{{ url_for('auth_bp.register') }}">
                    {{ form.hidden_tag() }} <!-- Ensure you have this for CSRF token -->
                    <div class="user-box">
                      {{ form.username(class_="login") }}
                      <label>Username</label>
                    </div>
                    <div class="user-box">
                      {{ form.password(class_="login") }}
                      {% if password_error %}
                        <p class="error">{{ password_error }}</p>
                      {% endif %}
                      <label>Password</label>
                    </div>
                    <div class="submit-box">
                      {{ form.submit(class_="login login-button") }}
                    </div>
                  </form>
                </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>
