{% extends 'layout.html' %}

{% block component_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/description.css') }}">
{% endblock %}

{% block content %}
 <main class="main-content">
    <header class="hero">
        <div class="hero-content">
            <img src="http://is5.mzstatic.com/image/thumb/Music118/v4/8e/97/40/8e97404a-1904-ef83-dfaf-3b2d90938de6/source/600x600bb.jpg" alt="The Reservoir Tapes" class="hero-image">
            <div class="hero-text">
                <h1 class="hero-title">The Reservoir Tapes</h1>
                <p class="hero-subtitle">{{ pd_author }}</p>
            </div>
        </div>
    </header>
    <section class="about">
         <div class="about-header">
            <h2 class="about-title">Description</h2>
            <button class="add-playlist-btn">Add to Playlist</button>
        </div>
        <p class="about-description">When a girl disappears in the heart of England how far back do you have to go to find the truth? <br><span></span><br>
            Neil Dudgeon continues Jon McGregor's gripping new series. A community is rocked when a teenager goes missing on a midwinter walk in the Peak District. Now her disappearance sparks long-buried memories, and opens old wounds. Today: a former quarry worker ponders the dangers of the local landscape...
        </p>
        <div class="about-tags">
            <span class="tag"><i class="fas fa-star"></i> 4.9 (128)</span>
            <span class="tag">Arts</span>
            <span class="tag">Performing Arts</span>
        </div>
        <hr class="about-separator">
    </section>
    <section class="episodes">
         <div class="episodes-header">
            <h2 class="episodes-title">Episodes</h2>
            <button class="episodes-sort-btn">Newest to Oldest<i class="fa-solid fa-caret-down"></i></button>
        </div>
        <div class="episode">
            <img src="http://is5.mzstatic.com/image/thumb/Music118/v4/8e/97/40/8e97404a-1904-ef83-dfaf-3b2d90938de6/source/600x600bb.jpg" alt="Episode Image" class="episode-image">
            <div class="episode-content">
                <h3 class="episode-title">4. Ian's Story</h3>
                <p class="episode-description">When a girl disappears in the heart of England how far back do you have to go to find the truth? <br><br>
                    Neil Dudgeon continues Jon McGregor's gripping new series. A community is rocked when a teenager goes missing on a midwinter walk in the Peak District. Now her disappearance sparks long-buried memories, and opens old wounds. Today: a former quarry worker ponders the dangers of the local landscape...
                    <br><br>
                    Reader: Neil Dudgeon<br>
                    Producer: Justine Willett<br>
                    2017-12-10 • 13 Minute 17 Seconds
                </p>
            </div>
        </div>
        <br>
        <div class="episode">
            <img src="http://is5.mzstatic.com/image/thumb/Music118/v4/8e/97/40/8e97404a-1904-ef83-dfaf-3b2d90938de6/source/600x600bb.jpg" alt="Episode Image" class="episode-image">
            <div class="episode-content">
                <h3 class="episode-title">3. Donna's Story</h3>
                <p class="episode-description">When a girl disappears in the heart of England how far back do you have to go to find the truth? <br><br>
                    Neil Dudgeon continues Jon McGregor's gripping new series. A community is rocked when a teenager goes missing on a midwinter walk in the Peak District. Now her disappearance sparks long-buried memories, and opens old wounds. Today: a former quarry worker ponders the dangers of the local landscape...
                    <br><br>
                    Reader: Neil Dudgeon<br>
                    Producer: Justine Willett<br>
                    2017-12-10 • 13 Minute 17 Seconds
                </p>
            </div>
        </div>
        <br>
        <div class="episode">
            <img src="http://is5.mzstatic.com/image/thumb/Music118/v4/8e/97/40/8e97404a-1904-ef83-dfaf-3b2d90938de6/source/600x600bb.jpg" alt="Episode Image" class="episode-image">
            <div class="episode-content">
                <h3 class="episode-title">2. Irenes's Story</h3>
                <p class="episode-description">When a girl disappears in the heart of England how far back do you have to go to find the truth? <br><br>
                    Neil Dudgeon continues Jon McGregor's gripping new series. A community is rocked when a teenager goes missing on a midwinter walk in the Peak District. Now her disappearance sparks long-buried memories, and opens old wounds. Today: a former quarry worker ponders the dangers of the local landscape...
                    <br><br>
                    Reader: Neil Dudgeon<br>
                    Producer: Justine Willett<br>
                    2017-12-10 • 13 Minute 17 Seconds
                </p>
            </div>
        </div>
        <br>
        <div class="episode">
            <img src="http://is5.mzstatic.com/image/thumb/Music118/v4/8e/97/40/8e97404a-1904-ef83-dfaf-3b2d90938de6/source/600x600bb.jpg" alt="Episode Image" class="episode-image">
            <div class="episode-content">
                <h3 class="episode-title">1. Jess's Story</h3>
                <p class="episode-description">When a girl disappears in the heart of England how far back do you have to go to find the truth? <br><br>
                    Neil Dudgeon continues Jon McGregor's gripping new series. A community is rocked when a teenager goes missing on a midwinter walk in the Peak District. Now her disappearance sparks long-buried memories, and opens old wounds. Today: a former quarry worker ponders the dangers of the local landscape...
                    <br><br>
                    Reader: Neil Dudgeon<br>
                    Producer: Justine Willett<br>
                    2017-12-10 • 13 Minute 17 Seconds
                </p>
            </div>
        </div>
        <br>

    </section>
</main>
{% endblock %}
