{% extends 'layout.html' %}

{% block component_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/description.css') }}">
{% endblock %}

{% block content %}
 <main class="main-content">
    <header class="hero">
        <div class="hero-content">
            <img src="{{ p_about.podcast_image }}" alt="The Reservoir Tapes" class="hero-image">
            <div class="hero-text">
                <h1 class="hero-title">{{ p_about.podcast_title }}</h1>
                <p class="hero-subtitle">{{ p_about.podcast_author }}</p>
            </div>
        </div>
    </header>
    <section class="about">
         <div class="about-header">
            <h2 class="about-title">Description</h2>
            <button class="add-playlist-btn">Add to Playlist</button>
        </div>
        <p class="about-description">{{ p_about.podcast_description }}</p>
        <div class="about-tags">
            {% for category in p_categories %}
                <span class="tag">{{ category.category_name }}</span>
            {% endfor %}
        </div>
        <hr class="about-separator">
    </section>g
    <section class="episodes">
         <div class="episodes-header">
            <h2 class="episodes-title">Episodes</h2>
            <button class="episodes-sort-btn">Newest to Oldest<i class="fa-solid fa-caret-down"></i></button>
        </div>
        {% for episode in p_episodes %}
            <div class="episode">
                <img src="{{ p_about.podcast_image }}" alt="Episode Image" class="episode-image">
                <div class="episode-content">
                    <h3 class="episode-title">{{ episode.episode_number }}. {{ episode.episode_title }}</h3>
                    <p class="episode-description">
                        {{ episode.episode_description }}
                        <br><br>
                        {{ episode.episode_date }} • {{ episode.episode_length }}
                    </p>
                </div>
            </div>
        {% endfor %}
        <br>
    </section>
</main>
{% endblock %}