{% extends 'layout.html' %}

{% block component_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all_podcasts.css') }}">
{% endblock %}

{% block content %}
    <main class="main-content">
        <section>
            <h1>All Podcasts...</h1>
            <div class="cards-section">
                <div class="whole-container">
                    <div class="podcast-cards">
                        {% for podcast in podcasts %}
                            <div class="podcast-card">
                                <a class="card-link" href="{{ url_for('podcast_blueprint.description', id=podcast.id) }}">
                                        <!-- Background with blur -->
                                        <div class="card-bg" style="
                                            background: url('{{ podcast.image_url }}') no-repeat center center; background-size: cover;"></div>
                                        <!-- Dark overlay -->
                                        <div class="card-darken"></div>
                                        <!-- Content -->
                                        <img src="{{ podcast.image_url }}" alt="{{ podcast.podcast_title }}">
                                        <div class="info">
                                            <span class="podcast-card-name">{{ podcast.title }}</span>
                                            <br>
                                            <span class="podcast-card-owner">{{ podcast.author }}</span>
                                        </div>
                                </a>

                                </div>

                        {% endfor %}

                    </div>
                    <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">&raquo;</a>
                    </div>
            </div>
            </div>
        </section>
    </main>
{% endblock %}
