{% extends 'layout.html' %}

{% block component_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all_categories.css') }}">
{% endblock %}

{% block content %}
    <main class="main-content">
        <section>
            <h1>All Categories...</h1>
                    <div class="categories">
                        {% for c in podcast_categories %}
                            <div class="box" style="background:
                                                            linear-gradient(to right, rgba(0, 0, 0, .95), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
                                                            url('https://cdn.pixabay.com/photo/2016/12/15/20/21/texture-1909992_640.jpg') no-repeat center center;
                                                        ">
                                <a href="{{ url_for('category_bp.category_podcasts', category_name=c.name) }}">
                                    <div class="overlay">
                                        <h2>{{ c.name }}</h2>
                                    </div>
                                </a>
                            </div>

                        {% endfor %}

                        <div></div>
                        <div class="pagination">
                            <a href="#">&laquo;</a>
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">&raquo;</a>
                        </div>
                        <div></div>
                    </div>
        </section>
    </main>
{% endblock %}
