{% extends 'layout.html' %}

{% block component_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/author_podcasts.css') }}">
{% endblock %}

{% block content %}
    <main class="main-content">
        <section>
            <div class="header-with-sort">
                <h1>{{ author_page_title }}</h1>
                <button class="sort-button">
                    <i class="fa-solid fa-caret-down dropdown" style="margin-right: 8px;"></i>
                    Newest to Oldest
                </button>
            </div>
            <div class="cards-section">
                <div class="whole-container">
                    <div class="podcast-cards">
                        {% for podcast in podcasts %}
                            <div class="podcast-card" onclick="window.location.href='{{ url_for('podcast_blueprint.description', id=podcast.id) }}'">
                                <!-- Background with blur -->
                                <div class="card-bg" style="background: url('{{ podcast.image_url }}') no-repeat center center; background-size: cover;"></div>
                                <!-- Dark overlay -->
                                <div class="card-darken"></div>
                                <!-- Content -->

                                <img src="{{ podcast.image_url }}" alt="{{ podcast.podcast_title }}">
                                <div class="info">
                                    <span class="podcast-card-name">{{ podcast.title }}</span>
                                    <br>
                                    <span class="podcast-card-owner">{{ podcast.author }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Pagination -->
                    <div class="pagination">
                        {% if current_page > 1 %}
                            <a href="{{ url_for('discover_bp.podcasts_by_author', author_name=author_name, page=1) }}">First</a>
                            <a href="{{ url_for('discover_bp.podcasts_by_author', author_name=author_name, page=current_page-1) }}">&laquo; Prev</a>
                        {% endif %}

                        <!-- Page Numbers -->
                        {% for page_num in range(start_page, end_page + 1) %}
                            <a href="{{ url_for('discover_bp.podcasts_by_author', author_name=author_name, page=page_num) }}"
                               class="{% if page_num == current_page %}active{% endif %}">
                               {{ page_num }}
                            </a>
                        {% endfor %}

                        {% if current_page < total_pages %}
                            <a href="{{ url_for('discover_bp.podcasts_by_author', author_name=author_name, page=current_page+1) }}">Next &raquo;</a>
                            <a href="{{ url_for('discover_bp.podcasts_by_author', author_name=author_name, page=total_pages) }}">Last</a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </section>
    </main>
{% endblock %}