<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue Page</title>
    <link rel="stylesheet" href="../static/css/catalogue.css">
     <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
<!--          <img id="logo" src="../static/logo.png" />-->
          <div class="title">Pod Library</div>
          <div class="navbar">
            <ul>
              <li><a href="./layout.html">Home</a></li>
              <li><a href="./catalogue.html">Podcasts</a></li>
              <li><a href="#Playlists">My Playlists</a></li>
            </ul>
          </div>
          <div id="nav-footer">
            CS235 traj161
          </div>
    </nav>

    <div class="main-content">
        <h1>Catalogue (TRAJ161)</h1>

        <div class="sections">
            <div class="popular-categories">
                <h2>Browse Popular Categories</h2>
                <div class="categories">
                    <a id="category-1" class="category-card">
                       Hobbies
                    </a>
                    <a id="category-2" class="category-card">
                        Professional
                    </a>
                    <a id="category-3" class="category-card">
                        News & Politics
                    </a>
                    <a id="category-4" class="category-card">
                        Sports & Recreation
                    </a>
                    <a id="category-5" class="category-card">
                        Comedy
                    </a>
                    <a id="category-6" class="category-card">
                        Science & Medicine
                    </a>

                </div>
                <div class="show-all-container">
                    <a href="#">Show all</a>
                </div>

            </div>
        </div>

</body>
</html>