<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue Page</title>
    <link rel="stylesheet" href="../static/css/catalogue.css">
     <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
<!--          <img id="logo" src="../static/logo.png" />-->
          <div class="title">Pod Library</div>
          <div class="navbar">
            <ul>
              <li><a href="./layout.html">Home</a></li>
              <li><a href="./catalogue.html">Podcasts</a></li>
              <li><a href="#Playlists">My Playlists</a></li>
            </ul>
          </div>
          <div id="nav-footer">
            CS235 traj161
          </div>
    </nav>

    <div class="main-content">
        <h1>Catalogue (TRAJ161)</h1>

        <div class="sections">
            <div class="popular-categories">
                <h2>Browse Popular Categories</h2>
                <div class="categories">
                    <a id="category-1" class="category-card">
                       Hobbies
                    </a>
                    <a id="category-2" class="category-card">
                        Professional
                    </a>
                    <a id="category-3" class="category-card">
                        News & Politics
                    </a>
                    <a id="category-4" class="category-card">
                        Sports & Recreation
                    </a>
                    <a id="category-5" class="category-card">
                        Comedy
                    </a>
                    <a id="category-6" class="category-card">
                        Science & Medicine
                    </a>

                </div>
                <div class="show-all-container">
                    <a href="#">Show all</a>
                </div>

            </div>

            <div class="editor-picks">
                <h2>Editor Picks</h2>
                <div class="editor-cards">
                    <div class="editor-card">
                        <img src="http://is3.mzstatic.com/image/thumb/Music128/v4/81/66/72/8166728e-aa3f-c4c3-f102-f162145c0690/source/600x600bb.jpg" alt="Category 1">
                        <div class="info">
                            <span class="editor-card-name">Mike Safo</span>
                            <br>
                            <span class="editor-card-owner">By Msafoschnik</span>
                        </div>
                    </div>

                    <div class="editor-card">
                        <img src="http://is3.mzstatic.com/image/thumb/Music118/v4/1b/23/29/1b2329ed-fa8a-fcbb-5699-b3465c8c8cc3/source/600x600bb.jpg" alt="Category 1">
                        <div class="info">
                            <span class="editor-card-name">Rotations</span>
                            <br>
                            <span class="editor-card-owner">By Media in Medicine</span>
                        </div>
                    </div>
                    <div class="editor-card">
                        <img src="http://is5.mzstatic.com/image/thumb/Music128/v4/d7/ec/4c/d7ec4c39-6429-e6b3-cfff-685d0eadcce8/source/600x600bb.jpg" alt="Category 1">
                       <div class="info">
                            <span class="editor-card-name">Voices in AI</span>
                           <br>
                            <span class="editor-card-owner">By Byron Reese</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="podcast-list">
            <div class="filter">
                <input type="text" placeholder="Search Podcast..." class="search-input">
                <button>Newest to Oldest</button>
            </div>
            <div class="podcasts">
                <div class="podcast">
                    <div class="podcast-info">
                        <img src="http://is3.mzstatic.com/image/thumb/Music118/v4/b9/ed/86/b9ed8603-d94b-28c5-5f95-8b7061bf22fa/source/600x600bb.jpg" alt="Category 1">
                        <div class="podcast-name-owner">
                            <span class="name">D-Hour Radio Network.</span>
                            <br>
                            <span class="owner">By D Hour Radio Network</span>
                        </div>
                    </div>
                    <div class="podcast-category">Society & Culture | Personal Journals</div>
                    <div class="podcast-duration">58:32:25</div>
                </div>
                <div class="podcast">
                    <div class="podcast-info">
                        <img src="http://is5.mzstatic.com/image/thumb/Music111/v4/49/c8/19/49c8190a-ca0f-f32c-c089-d7ae502d2cb8/source/600x600bb.jpg" alt="Category 1">
                        <div class="podcast-name-owner">
                            <span class="name">Brian Denny Radio.</span>
                            <br>
                            <span class="owner">By Brian Denny</span>
                        </div>
                    </div>
                    <div class="podcast-category">Professional | News & Politics | Sports & Recreation | Comedy</div>
                    <div class="podcast-duration">58:32:25</div>
                </div>
                <div class="podcast">
                    <div class="podcast-info">
                        <img src="http://is2.mzstatic.com/image/thumb/Music62/v4/a5/44/ce/a544ce1f-3250-7147-1e8a-6316a161900c/source/600x600bb.jpg" alt="Category 1">
                        <div class="podcast-name-owner">
                            <span class="name">Onde Road - Radio Popolare.</span>
                            <br>
                            <span class="owner">By Radio Popolare</span>
                        </div>
                    </div>
                    <div class="podcast-category">Society & Culture</div>
                    <div class="podcast-duration">58:32:25</div>
                </div>
                <div class="podcast">
                    <div class="podcast-info">
                        <img src="http://is3.mzstatic.com/image/thumb/Music71/v4/d6/7a/a2/d67aa202-4c97-70d3-e629-b830567cff78/source/600x600bb.jpg" alt="Category 1">
                        <div class="podcast-name-owner">
                            <span class="name">Tallin Messages.</span>
                            <br>
                            <span class="owner">By Tallin Country Church</span>
                        </div>
                    </div>
                    <div class="podcast-category">Religion & Spirituality</div>
                    <div class="podcast-duration">58:32:25</div>
                </div>
            </div>
            <div class="show-all-container">
                    <a href="#">Show all Podcasts</a>
                </div>
        </div>


    </div>

</body>
</html>