<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>
    <link rel="stylesheet" href="../static/css/catalogue.css" />
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <h2 class="sidebar-title">Podcasts</h2>
            <ul class="sidebar-menu">
                <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="#"><i class="fas fa-search"></i> Discover</a></li>
                <li><a href="#"><i class="fas fa-play"></i> My Playlists</a></li>
            </ul>
        </nav>
        <main class="main-content">
            <header class="hero">
                <div class="hero-content">
                    <div class="hero-text">
                        <h1 class="hero-title">CS325 Podcast Library</h1>
                        <p class="hero-subtitle">VBHA650</p>
                    <hr>
                    </div>
                </div>
                <br><br>
                <div id="podcast">
                    <ul>
                      <li>
                          <a href="./podcastDescription.html">
                            <div class="podcast-list">
                              <img src="http://is3.mzstatic.com/image/thumb/Music128/v4/21/15/2f/21152f05-5d03-a7ad-f0a5-bf65796ed3bf/source/600x600bb.jpg" alt="D-Hour Radio Network">
                              <span>Nerd For A Living</span>
                            </div>
                          </a></li>
                      <li><a href="#description">
                        <div class="podcast-list">
                          <img src="http://is5.mzstatic.com/image/thumb/Music118/v4/1c/c1/23/1cc1230f-ecbf-7449-3730-4e443fb08d62/source/600x600bb.jpg" alt="Brian Denny Radio">
                          <span>Mexico Centered</span>
                        </div>
                      </a></li>
                      <li><a href="#description">
                        <div class="podcast-list">
                          <img src="http://is5.mzstatic.com/image/thumb/Music118/v4/bf/11/4d/bf114d3a-a552-134e-7bce-a988164f3d17/source/600x600bb.jpg" alt="Onde Road - Radio Popolare">
                          <span>Future Perfect</span>
                        </div>
                      </a></li>
                    </ul>
                </div>
            </header>
        </main>
    </div>
</body>
</html>