<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podcast Library</title>
    <link
      rel="stylesheet" href="../static/css/layout.css"
    />
</head>
<body>
    <div id="body">
        <nav class="sidebar">
            <!-- <img class="logo" src="" /> -->
            <h2 class="sidebar-title">Podcast Library</h2>
            <div class="divider"></div>
            <div class="navbar">
                <ul class="pages">
                  <li><a href="./layout.html">Home</a></li>
                  <li><a href="./catalogue.html">Podcasts</a></li>
                  <li><a href="#Playlists">My Playlists</a></li>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>