<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podcast Library</title>
    <link rel= "stylesheet" href="../static/css/layout.css">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <!-- <link rel="icon" href=""> -->
</head>

<body>
    <div id="body">
        <nav class="sidebar">
            <!-- <img class="logo" src="" /> -->
            <h2 class="sidebar-title">Podcast Library</h2>
            <div class="divider"></div>
            <div class="navbar">
                <ul class="pages">
                  <li><a href="./layout.html">Home</a></li>
                  <li><a href="./catalogue.html">Podcasts</a></li>
                  <li><a href="#Playlists">My Playlists</a></li>
                </ul>
            </div>
        </nav>

        <div class="right-side">
            <section class="top-section">
                <h1>You might like ...</h1>
                <div class="header">
                    <div>Top Podcasts</div>
                    <div>Top Podcasts</div>
                    <div>Top Podcasts</div>
                    <div class="show-all">Show all</div>
                </div>
                <div class="podcast-cards">
                    <div class="podcast-card">
                        <p>Your paragraph text</p>
                    </div>
                    <div class="podcast-card">
                        <p>Your paragraph text</p>
                    </div>
                    <div class="podcast-card">
                        <p>Your paragraph text</p>
                    </div>
                    <div class="podcast-card">
                        <p>Your paragraph text</p>
                    </div>
                </div>
            </section>
            <section class="bottom-section">
                <div class="continue-listening-container">
                    <h2>Continue Listening</h2>
                    <div class="continue-listening-block">
                        <div>
                            <p>Info</p>
                        </div>
                        <div>
                            <p>Info</p>
                        </div>
                        <div>
                            <p>Info</p>
                        </div>
                        <div>
                            <p>Info</p>
                        </div>
                    </div>
                </div>
                <div class="top-authors-outer">
                    <h2>Top Authors</h2>
                    <div class="top-authors">
                        <div class="author">
                            <p>Andrius Peregonius</p>
                            <p>325K followers</p>
                        </div>
                        <div class="author">
                            <p>Jane Cooper</p>
                            <p>100K followers</p>
                        </div>
                        <div class="author">
                            <p>Jane Cooper</p>
                            <p>100K followers</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>