<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podcast Library</title>
    <link rel= "stylesheet" href="../static/css/layout.css">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <!-- <link rel="icon" href=""> -->
</head>

<body>
    <div id="body">
        <nav class="sidebar">
            <!-- <img class="logo" src="" /> -->
            <h2 class="sidebar-title">Podcast Library</h2>
            <div class="divider"></div>
            <div class="navbar">
                <ul class="pages">
                  <li><a href="./layout.html">Home</a></li>
                  <li><a href="./catalogue.html">Podcasts</a></li>
                  <li><a href="#Playlists">My Playlists</a></li>
                </ul>
            </div>
        </nav>

        <div class="right-side">
            <section class="top-section">
                <h1>You might like ...</h1>
                <div class="header">
                    <div>Top Podcasts</div>
                    <div>Recently Played</div>
                    <div>New Podcasts</div>
                    <div class="show-all">Show all</div>
                </div>
                <div class="podcast-cards">
                    <div class="podcast-card">
                        <a href="./podcastDescription.html">
                            <img src="http://is5.mzstatic.com/image/thumb/Music118/v4/8e/97/40/8e97404a-1904-ef83-dfaf-3b2d90938de6/source/600x600bb.jpg" alt="D-Hour Radio Network">
                            <div class="podcast-info">
                              <h3>The Reservoir Tapes</h3>
                              <p>Arts &bull; Performing Arts</p>
                            </div>
                        </a>
                    </div>
                    <div class="podcast-card">
                        <a href="./podcastDescription.html">
                            <img src="http://is5.mzstatic.com/image/thumb/Music4/v4/8a/b3/c2/8ab3c23d-e437-8659-fd3a-b96fd3fff09f/source/600x600bb.jpg" alt="Brian Denny Radio">
                            <div class="podcast-info">
                                <h3>Mere Fidelity</h3>
                                <p>Religion &bull; Christianity</p>
                            </div>
                        </a>
                    </div>
                    <div class="podcast-card">
                        <a href="./podcastDescription.html">
                            <img src="http://is2.mzstatic.com/image/thumb/Music128/v4/80/1b/00/801b002a-558a-3f68-43f9-12f0d0576212/source/600x600bb.jpg" alt="Bethel Presbyterian Church (EPC) Sermons">
                        <div class="podcast-info">
                            <h3>Ashes Ashes</h3>
                            <p>Science &bull; News & Politics</p>
                        </div>
                        </a>
                    </div>
                    <div class="podcast-card">
                        <a href="./podcastDescription.html">
                            <img src="http://is4.mzstatic.com/image/thumb/Music118/v4/dd/be/ee/ddbeee22-5eb4-4bd5-9f6b-1f0673b351c5/source/600x600bb.jpg" alt="Onde Road">
                            <div class="podcast-info">
                                <h3>The Sisu Way</h3>
                                <p>Self-Help</p>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

            <section class="bottom-section">
                <div class="continue-listening-container">
                    <h2>Continue Listening</h2>
                    <div class="continue-listening-block">
                        <div>
<!--                        <img src="http://is4.mzstatic.com/image/thumb/Music118/v4/dd/be/ee/ddbeee22-5eb4-4bd5-9f6b-1f0673b351c5/source/600x600bb.jpg">-->
                            <p>Podcast Name</p>
                        </div>
                        <div>
                            <p>Podcast Name</p>
                        </div>
                        <div>
                            <p>Podcast Name</p>
                        </div>
                        <div>
                            <p>Podcast Name</p>
                        </div>
                    </div>
                </div>
                <div class="top-authors-outer">
                    <h2>Top Authors</h2>
                    <div class="top-authors">
                        <div class="author">
                            <p>Andrius Peregonius</p>
                            <p>325K followers</p>
                        </div>
                        <div class="author">
                            <p>Jane Cooper</p>
                            <p>100K followers</p>
                        </div>
                        <div class="author">
                            <p>Jane Cooper</p>
                            <p>100K followers</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>