<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Podcast Description</title>
    <link
      rel="stylesheet" href="../static/css/layout.css"
    />
    <link
      rel="stylesheet" href="../static/css/description.css"
    />
</head>
<body>
    <div id="body">
        <nav>
<!--          <img id="logo" src="../static/logo.png" />-->
          <div class="title">Pod Library</div>
          <div class="navbar">
            <ul>
              <li><a href="./layout.html">Home</a></li>
              <li><a href="./catalogue.html">Podcasts</a></li>
              <li><a href="#Playlists">My Playlists</a></li>
            </ul>
          </div>
          <div id="nav-footer">
            CS235 traj161
          </div>
        </nav>
        <div id="content-2">
            <header id="header">
              <h3>D-Hour Radio Network</h3>
              <div class="copyright"> TRAJ161 </div>
            </header>
            <div id="container">
              <main id="main">
                <div class="description">
                  <br>
                    <img id="podcast-logo" src="http://is3.mzstatic.com/image/thumb/Music118/v4/b9/ed/86/b9ed8603-d94b-28c5-5f95-8b7061bf22fa/source/600x600bb.jpg" alt="Image of D-Hour Radio Network Podcast">
                    <p><i>Author:</i> D Hour Radio Network </p>
                    <p><i>Language:</i> English </p>
                    <p><i>itune ID:</i> 538283940 </p>
                    <p><i>About:</i>
                        The D-Hour Radio Network is the home of real entertainment radio and "THE" premiere online radio network.
                        We showcase dynamically dynamite radio shows for the sole purpose of entertaining your listening ear.
                        Here on the D-hour Show Radio network we take pride in providing an outlet for Celebrity Artists, Underground Artists, Indie Artists, Producers, Entertainers, Entrepreneurs, Internet Stars and future business owners.
                        We discuss topics of all forms and have a great time while doing so. We play all your favorite hits in the forms of Celebrity, Indie, Hip Hop, Soul/R&B, Pop, and everything else you want and consider popular.
                        If you would like yourself and or your music to be showcased on our radio network submit email requests for music airplay, interviews and etc.. to:  dhourshow@gmail.com and we will get back to you promptly.
                        Here at the D-Hour Radio Network we are Family and all of our guests, listeners and loyal fans are family too.
                        So tune into the D-Hour Radio Network and join the Family!  </p>
                    <p><i>Website URL: </i> <a href="http://www.blogtalkradio.com/dhourshow" id="image-url">http://www.blogtalkradio.com/dhourshow</a></p>
                </div>
              </main>
            </div>
        </div>
    </div>
</body>
<body>




</body>
</html>