<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Podcast Description</title>
    <link
      rel="stylesheet" href="../static/css/main.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <h2 class="sidebar-title">Podcasts</h2>
            <ul class="sidebar-menu">
                <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="#"><i class="fas fa-search"></i> Discover</a></li>
                <li><a href="#"><i class="fas fa-play"></i> My Playlists</a></li>
            </ul>
        </nav>
        <main class="main-content">
            <header class="hero">
                <div class="hero-content">
                    <img src="http://is5.mzstatic.com/image/thumb/Music118/v4/8e/97/40/8e97404a-1904-ef83-dfaf-3b2d90938de6/source/600x600bb.jpg" alt="The Reservoir Tapes" class="hero-image">
                    <div class="hero-text">
                        <h1 class="hero-title">The Reservoir Tapes</h1>
                        <p class="hero-subtitle">BBC</p>
                    </div>
                </div>
            </header>
        </main>
    </div>
</body>
</html>