<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Podcast Description</title>
    <link
      rel="stylesheet" href="../static/css/layout.css"
    />
    <link
      rel="stylesheet" href="../static/css/description.css"
    />
</head>
<body>
    <div id="body">
        <nav>
<!--          <img id="logo" src="../static/logo.png" />-->
          <div class="title">Pod Library</div>
          <div class="navbar">
            <ul>
              <li><a href="./layout.html">Home</a></li>
              <li><a href="./catalogue.html">Podcasts</a></li>
              <li><a href="#Playlists">My Playlists</a></li>
            </ul>
          </div>
          <div id="nav-footer">
            CS235 traj161
          </div>
        </nav>
        <div id="content-2">
            <header id="header">
              <h3>How I Built This</h3>
              <div class="copyright"> TRAJ161 </div>
            </header>
            <div id="container">
              <main id="main">
                <div class="description">
                  <br>
                    <p><i>Author:</i> Guy Raz </p>
                    <p><i>Language:</i> English </p>
                    <p><i>About:</i> How I Built This is a captivating podcast hosted by the award-winning journalist Guy Raz, who delves into the stories behind the people who created some of the world's best-known companies.
                        Each episode offers an in-depth interview with a successful entrepreneur or innovator, exploring the journey from the initial spark of an idea to the establishment of a thriving business. Listeners gain insights into the challenges, failures, and triumphs faced along the way, as well as the strategies and mindsets that drove these individuals to success.
                        Featuring a diverse range of industries and backgrounds, "How I Built This" inspires and educates aspiring entrepreneurs and curious minds alike.
                        Tune in to hear the remarkable tales of perseverance, creativity, and innovation that turn dreams into reality. </p>
                    <p><i>Image URL: </i> <a href="https://www.npr.org/series/490248027/how-i-built-this" id="image-url">https://www.npr.org/series/490248027/how-i-built-this</a></p>
                </div>
              </main>
            </div>
        </div>
    </div>
</body>
<body>




</body>
</html>